@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --white: #cccccc;
  --background-color: #1f1f1f;
  --btnBase: rgba(255, 255, 255, 0.1);
  --btnBorder: rgba(255, 255, 255, 0.1);
  --button-background: rgb(31, 31, 31);
  --button-gradient-start: rgba(31, 31, 31, 1);
  --button-gradient-end: rgba(31, 31, 31, 0);
  --modal-background: rgba(0, 0, 0, 0.7);
  --modal-border: hsla(0, 0%, 100%, 0.1);
  --close-hover-color: #77d3fb;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: pan-y;
}

html,
body {
  height: 100dvh;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  background-color: var(--background-color);
  color: var(--white);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

h2 {
  margin: 20px 0px 0px;
}
.tool-name {
  text-align: center;
  font-weight: 400;
}

.sectionTitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 28px;
}
.sectionTitle p {
  font-size: 14px;
  flex: 1;
  margin: 0;
  padding: 0px 0px 10px 36px;
  color: #999999;
}

.button-group div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 999;
  margin: 0;
  gap: 8px;
}

.button-group div p {
  margin: 0;
}
.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 20px 0px;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background: var(--button-background);
  background: linear-gradient(
    180deg,
    var(--button-gradient-start) 0%,
    var(--button-gradient-end) 100%
  );
  z-index: 99;
  overflow: hidden;
}

.button-group::before {
  z-index: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background: linear-gradient(
    to bottom,
    var(--button-gradient-start) 0%,
    var(--button-gradient-end) 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0) 100%
  );
}

button {
  display: inline;
}

button {
  box-shadow: none;
  color: var(--white);
  background-color: var(--btnBase);
  border: 1px solid var(--btnBorder);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  position: relative;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  transition-duration: 0.2s;
  padding: 4px 8px;
}

footer {
  margin: auto 0px 12px;
  flex: 0 0 auto;
  -ms-grid-row-align: center;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 12px;
  column-gap: 12px;
  color: var(--white);
  font-size: 12px;
  font-weight: 400;
}
footer a {
  color: var(--white);
}

.footer-image {
  margin: 0;
  width: 20px;
}

@media screen and (max-width: 790px) {
  .mergely-resizer {
    height: calc(100svh - 48px - 105px - 26px - 50px) !important;
  }
  body{
    /* background-color: rgb(52, 52, 0); */
  }
}

@media screen and (max-width: 440px) {
  .mergely-resizer {
    height: calc(100svh - 48px - 142px - 26px - 50px) !important;
  }
  body{
    /* background-color: rgb(0, 49, 0); */
  }
}

@media screen and (max-width: 390px) {
  .mergely-resizer {
    height: calc(100svh - 48px - 142px - 26px - 50px) !important;
  }
  body {
    /* background-color: rgb(89, 0, 0); */
  }

  .CodeMirror pre {
    font-size: 16px;
  }

  button:focus {
    color: var(--close-hover-color) !important;
    background-color: rgba(81, 154, 186, 0.7) !important;
    border: 1px solid var(--btnBorder) !important;
    box-shadow: 0 0 14px 1px rgba(81, 154, 186, 1) !important;
  }
}

@media (hover: hover) {
  button:hover {
    color: var(--close-hover-color);
    background-color: rgba(81, 154, 186, 0.7) !important;
    border: 1px solid var(--btnBorder);
    box-shadow: 0 0 14px 1px rgba(81, 154, 186, 1);
  }
}


#version{
  cursor: pointer;
}
/* Modal CSS */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--modal-background);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.modal-table{
  border-collapse: collapse;
}
.modal-content {
  background-color: #0000006f; /* fallback for older browsers */
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--modal-border);
  width: 500px;
  max-width: 70vw;
  line-height: 1.5;
}
.modal-table tr{
  vertical-align: top;
}
.modal-table tr:not(:last-child){
  border-bottom: 1px solid var(--modal-border);
}
.modal-table td{
  padding: 20px 0px;
}
.modal-table td:not(:first-child){
  padding-left: 10px;
}
.modal-table td:not(:first-child){
  padding-left: 10px;
}
.modal-table ol,
.modal-table p{
  margin: 0;
}

.close {
  color: var(--white);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--close-hover-color);
  text-decoration: none;
  cursor: pointer;
}